html, body {
  margin: 0;
}

body {
  display: flex;
  background: rgba(18, 37, 58,0.5);
  flex-direction: column;
  font-family: sans-serif;
}

/*-------------------/*

  -> Header <-

 /*--------------------*/


 .circle {
   margin: 0 10px 0 0;
   border-radius: 50px;
   height: 35px;
   width: 35px;
 }

/*-------------------/*

 -> Body <-

/*--------------------*/

.main {
  display: flex;
}
/*-------------------/*

-> Body // content <-

/*--------------------*/

.container.cards {

    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}

.content.cards {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0px 20px 0px 20px;
}

.content>h3 {
  margin: 35px 0 10px 20px;
}

.content>p {
  margin: 0 0 15px 20px;
}
